include AUTHORS
include COPYING
include ChangeLog
include INSTALL
include MANIFEST.in
include README.cptrace
include TODO
include conv_python3.0.sh
include cptrace/Makefile
include cptrace/cptrace.c
include cptrace/version.py
include doc/*.rst
include examples/itrace.py
include examples/simple_dbg.py
include pyflakes.sh
include python3.0.patch
include setup_cptrace.py
include test_doc.py
include tests/crash/*.c
